{% extends 'base.html' %} {% load static %} 


    {% block meta %}

    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h1{
            font-weight: bold;
            text-align:  center;
        }
        .comment_container{
            background-color: #B7FFC2;
            padding: 10px;
            width: 70%;
            height: max-content;
            margin: auto;
            border-radius: 20px;
            border: #77B881 solid 4px;
        }
        .comment_box{
            background-color: #94E2A0;
            text-align: end;
            padding: 0 10px;
            border-radius: 10px;
            margin: 20px 0;
            
        }
        .comment_box h2, .comment_box p{
            margin:0;
            padding: 5px;
            
        }
        .inputan {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .inputan input{
            text-align: center;
            background-color:#94E2A0;
            border-radius: 10px;
            border: none;
            padding: 2px 10px;
            height: 35px;
            width: 30%;
           
        }
        .topikButton{
            text-align: center;
        }
        .topikButton a{
            background-color:white;
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 10px;
            color:black;
            font-weight: bold;
            border: #94E2A0 solid 3px;
        }
        .topikButton a:hover{
            background-color: #94E2A0;
            border: #77B881 solid 3px;
        }
    </style>
{% endblock meta %}
{% block main %}
    <br>
    <br>
    <br>
    
    <h1>
        {{topik.nama}}
    </h1>
    <br>
    <div class="topikButton"><a href="/chitchat/topik2/{{nama}}" > TOPIK LIST</a> </div>
    
    <br>
        <form action="/chitchat/forum/{{topik.id}}/{{nama}}" method="POST" class="inputan">
            {% csrf_token %}
            <Table>
                {{ form.komentar }} 
            </Table>
            {{ form.topik.as_hidden }}
            {{ form.nama.as_hidden }}
            <br>
        </form>
    

    <div class="comment_container">
        {% for k in komentar %}
                <div class="comment_box">
                    <h2>{{k.nama}}</h2>
                    <p>{{k.komentar}}</p>
                    <p>{{k.waktu}}</p>
                </div>
        {% endfor %}    
    {% endblock main %}