{% extends 'base.html' %}{% load static %} 


    {% block meta %}

    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h1{
            font-weight: bold;
            text-align:  center;
        }

        .kotakTopik_luar{
            display: flex;
            width:50%;
            margin: auto;
            flex-direction: column ;
            text-align: center;
            
        }
        .kotak_topik{
            font-size: 18px;
            border-radius: 10px;
            font-weight: bold;
            text-decoration: none;
            color:black;
            background-color: #94E2A0;
            margin: 10px 10px;
            height: max-content;
            min-height: 50px;
            padding: 10px 10px;
        }
        .kotak_topik:hover{
            background-color: #77B881;
        }
        .topikButton{
            text-align: center;
        }
        .topikButton a{
            background-color:white;
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 10px;
            color:black;
            font-weight: bold;
            border: #94E2A0 solid 3px;
        }
        .topikButton a:hover{
            background-color: #94E2A0;
            border: #77B881 solid 3px;
        }
    </style>
{% endblock meta %}
{% block main %}
    <br>
    <br>
    <br>
    
    <h1>
        TOPIK
    </h1>
    <br>
    <div class="topikButton"><a href="/chitchat" > NAMA BARU?</a> </div>
    <br>
    {% for t in alltopik %}
    <div class="kotakTopik_luar">
            <a href="/chitchat/forum/{{t.id}}/{{nama}}" >
                <div class="kotak_topik">
                    {{t.nama}}
                </div>
            </a>
    </div>
    {% endfor %}
    {% endblock main %}