{% extends 'base.html' %}
    {% block meta %}
    <style>
        h1{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            text-align:  center;
        }
        .inputan{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .inputan input{
            text-align: center;
            background-color:#94E2A0;
            border-radius: 10px;
            border: none;
            padding: 2px 10px;
            height: 35px;
            width: 30%;
           
        }
    </style>
{% endblock meta %}
{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <h1>
        SELAMAT DATANG DI CHITCHAT
    </h1>
    
    <form action="/chitchat/topik" method="GET" class="inputan">
        <input type="text" name="nama" placeholder="enter your name here (3 - 10 character)" minlength="3" maxlength="10" required>
    </form>
{% endblock main %}