html {
	scroll-behavior: smooth;
}

body { 
    margin-top:20px;
    font-family: "Montserrat", sans-serif;
}

.mx-auto {
    width: 60%;
}

h4 {
    font-size: medium;
}

.btn-primary {
    background-color: #5AB79B;
    border-color:  #5AB79B;
    border-radius: 20px;
}
  
.btn-primary:hover,
.btn-primary:active {
    background-color: #448874;
    border-color:  #448874;
}

/* index.html */
.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
}

/* poll.html */
.card-body:not(.two-col) { 
    padding:0px 
}
.card-body .radio,.card-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-body .list-group {
    margin-bottom: 0;
}
.margin-bottom-none { 
    margin-bottom: 0; 
}
.card-body .radio label,.card-body .checkbox label { 
    display:block; 
}
.card .card-header{
    background-color: #5AB79B !important;
    color: black !important;
}
.well{
    background-color: #F9FBDD;
    border-radius: 20px;
    font-weight: normal !important;
}
.card-footer{
    background-color: #F9FBDD !important;
    color: black !important;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
/* result.html */
.progress-bar{
    background-color: #5AB79B;
}
