{% extends 'base.html' %} {% load static %} {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Quiz Page</title> 
{% endblock css %} {% block main %}

    <section class="kuis" id="kuis">
        <form method="post">
            {% csrf_token %}

        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 mt-5 p-4 m-p mx-auto">
                    <div class="form-group">
                        <div style="display: block;" class="col-md-5">
                            <h3 style="color: #8cd498;"><b>{{form_question.nama.label_tag}}</b></h3>
                            {{form_question.nama}}
                        </div>
                    </div>    
            </div>
        </div>

        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 1</h6>
                        <h3>{{ form_question.question1.label }}</h3>
                        {% for radio in form_question.question1 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
            
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 2</h6>
                        <h3>{{ form_question.question2.label }}</h3>
                        {% for radio in form_question.question2 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>

        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 3</h6>
                        <h3>{{ form_question.question3.label }}</h3>
                        {% for radio in form_question.question3 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 4</h6>
                        <h3>{{ form_question.question4.label }}</h3>
                        {% for radio in form_question.question4 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 5</h6>
                        <h3>{{ form_question.question5.label }}</h3>
                        {% for radio in form_question.question5 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">    
                    <div class="ques m-3"> 
                        <h6>Question 6</h6>
                        <h3>{{ form_question.question6.label }}</h3>
                        {% for radio in form_question.question6 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 7</h6>
                        <h3>{{ form_question.question7.label }}</h3>
                        {% for radio in form_question.question7 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 8</h6>
                        <h3>{{ form_question.question8.label }}</h3>
                        {% for radio in form_question.question8 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 9</h6>
                        <h3>{{ form_question.question9.label }}</h3>
                        {% for radio in form_question.question9 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8 m-p mx-auto">
                    <div class="ques m-3">
                        <h6>Question 10</h6>
                        <h3>{{ form_question.question10.label }}</h3>
                        {% for radio in form_question.question10 %}
                        <div class="col m-3">
                                <div class="radio">
                                    {{ radio }}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row m-5 mt-3 justify-content-center">
            <div id="kuisnya" class="col-md-8m-p mx-auto">

                    <a href="" class="btnNama">
                        <button style="background-color: #B7FFC2; color: #4c7e54;" id="tombol" class="btn"  type="submit">Submit Answer</button>
                    </a>
            </div>
        </div>
    </form>
        <div class="row mt-5 justify-content-center">
            <div class="col text-center">
                <h4>Jawablah semua pertanyaan diatas!</h4>
            </div>
        </div>
       
    </section>
    <div class="row mt-5">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-3 col-sm-3 text-center">
            <img id="atas" src="{% static 'danger.png' %}" class="object-fit-contain" alt="~" width="70px"><br>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

{% endblock main %}
