{% extends 'base.html' %} {% load static %} {% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Welcome to Quiz!</title>
{% endblock css %} {% block main %}

<section class="welcom">

    <div class="text">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-2 text-center" >
            </div>
            <div class="col-md-5 col-sm-7 mt-3 text-center">
              <h3>Sejauh Mana Pengetahuanmu Mengenai Covid 19?</h3>
            </div>
            <div class="col-md-2 col-sm-2 mt-3 text-center">
                <img id="atas" src="{% static 'coronavirus.png' %}" class="object-fit-contain" alt="~" width="60px">
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-2 col-sm-2 text-center" >
                <img id="atas" src="{% static 'virus.png' %}" class="object-fit-contain" alt="~" width="70px"> 
                <img id="atas" src="{% static 'man.png' %}" class="object-fit-contain" alt="~" width="70px"> 
                <img id="atas" src="{% static 'hand-wash.png' %}" class="object-fit-contain" alt="~" width="70px">
                <img id="atas" src="{% static 'pneumonia.png' %}" class="object-fit-contain" alt="~" width="70px">
                <img id="atas" src="{% static 'keep-distance.png' %}" class="object-fit-contain" alt="~" width="70px">
                <img id="atas" src="{% static 'ambulance.png' %}" class="object-fit-contain" alt="~" width="70px">
            </div>
            <div id="textnya" class="col-md-7 col-sm-10 p-5">
                <p>&emsp;&emsp;Menurut dr. Devia Irine Putri dari <i>KlikDokter</i>, virus ini sebenarnya masih satu keluarga dengan MERS (<i>Middle East Respiratory Syndrome</i>) dan SARS (<i>Severe Acute Respiratory Syndrom</i>e). Sebagai informasi, kata corona pada virus tersebut berasal dari bahasa Latin yang berarti <b>mahkota</b>. Dinamakan corona sesuai dengan bentuk virus tersebut yang jika dilihat menggunakan mikroskop tampak seperti mahkota. Terkait gejalanya, corona virus menyerupai flu biasa, seperti demam, batuk. Hanya saja, virus ini biasanya menyebabkan penderitanya mengalami sesak napas alias sangat susah bernapas. Sampai kalau parah bisa menyebabkan pneumonia, infeksi di paru-paru. Namun, ada juga orang-orang yang tidak memiliki gejala apapun.</p>
                <p>Untuk mencegah penyebaran COVID-19, lakukan beberapa cara dibawah ini</p>
                <p>1. Cuci tangan Anda secara rutin. Gunakan sabun dan air, atau cairan pembersih tangan berbahan alkohol.</p>
                <p>2. Selalu jaga jarak aman dengan orang yang batuk atau bersin.</p>
                <p>3. Kenakan masker jika pembatasan fisik tidak dimungkinkan.</p>
                <p>4. Jangan sentuh mata, hidung, atau mulut Anda.</p>
                <p>5. Saat batuk atau bersin, tutup mulut dan hidung Anda dengan lengan atau tisu.</p>
                <p>6. Jangan keluar rumah jika merasa tidak enak badan.</p>
                <p>7. Jika demam, batuk, atau kesulitan bernapas, segera cari bantuan medis.</p>
                <p>8. Telepon terlebih dahulu agar penyedia layanan kesehatan dapat segera mengarahkan Anda ke fasilitas kesehatan yang tepat. Tindakan ini akan melindungi Anda serta mencegah penyebaran virus dan infeksi lainnya.</p>
                <p>9. Selalu menggunakan masker jika akan keluar rumah.</p>
                <p>Mengenakan masker saja tidak cukup untuk melindungi diri dari COVID-19, sehingga harus dikombinasikan dengan pembatasan fisik dan kebersihan tangan. Tiga jenis masker yang direkomendasikan oleh Kementerian Kesehatan, yakni masker N95, masker bedah, dan masker kain. Ikuti saran yang diberikan oleh otoritas kesehatan setempat.</p>
                
                <p>Mengacu pada Protokol Kesehatan Penanganan Covid-19 yang dikeluarkan Kementerian Kesehatan, berikut beberapa hal yang harus Anda perhatikan pada pertolongan pertama Covid 19: </p>
                <p><b>Jika kondisi sehat</b></p>
                <p>Meski kondisi tubuh Anda sehat, perhatikan beberapa hal berikut ini: </p>
                <p>1. Ada riwayat perjalanan 14 hari yang lalu (masa inkubasi COVID-19 diperkirakan antara 1-14 hari), ke negara atau daerah yang terjangkit Covid-19, maka sebaiknya Anda menghubungi <i>hotline center</i> 119 <i>ext</i> 9 untuk mendapatkan petunjuk lebih lanjut. <br>
                2. Pasca-merebaknya wabah virus corona di Indonesia, sejumlah daerah juga menerapkan prosedur bagi mereka yang yang datang atau baru pulang dari wilayah terjangkit virus corona. Prosedur itu beragam, ada yang meminta agar melapor ke pengurus RT setempat, ada pula yang meminta memeriksakan diri ke Puskesmas. Pastikan hal ini kepada pihak berwenang di wilayah yang Anda datangi sebagai langkah antisipatif. <br>
                3. Anda juga diminta berkonsultasi melalui <i>hotline</i> 119 <i>ext</i> 9 meski kondisi tubuh sehat, jika memiliki riwayat pernah kontak dengan penderita atau pasien yang sudah dinyatakan positif Covid-19.</p>
            
                <p><b>Jika kondisi tidak sehat</b></p>
                <p>Istirahat dan minum yang cukup, jika Anda merasa tidak sehat dengan kriteria seperti di bawah ini:</p>
                <p>1. Demam 38 derajat Celcius Menderita batuk/pilek<br>
                2. Jika kondisi Anda disertai dengan kesulitan bernapas (sesak atau napas cepat), segera periksa atau berobat ke fasilitas pelayanan kesehatan (fasyankes). </p>
                
                <p>Saat berobat atau memeriksakan diri ke fasilitas pelayanan kesehatan, Anda harus melakukan ini:</p>
                <p>1. Gunakan masker<br>
                2. Jika tidak memiliki masker, patuhi etika batuk/bersin yang benar. Caranya, menutup mulut dan hidung dengan tisu atau punggung lengan <br>
                3. Upayakan tidak menggunakan transportasi massal.</p>

                <p>Ketika menjalani pemeriksaan di pelayanan kesehatan, petugas kesehatan akan melakukan <i>screening</i>: </p>
                <p><b>Jika memenuhi kriteria suspect Covid-19</b></p>
                <p>1. Anda akan dirujuk ke salah satu rumah sakit (RS) rujukan yang siap untuk penanganan Covid-19. <br>
                2. Anda akan diantar ke RS rujukan menggunakan ambulans didampingi oleh nakes yang menggunakan alat pelindung diri (APD). <br>
                3. Di RS rujukan akan dilakukan pengambilan spesimen untuk pemeriksaan laboratorium dan dirawat di ruang isolasi.
                </p>

                <p><b>Jika tidak memenuhi kriteria suspect Covid-19</b></p>
                <p>Anda akan dirawat inap atau rawat jalan tergantung diagnosa dan keputusan dokter fasyankes.</p>

                <p>Sumber:</p>
                <p><u>//www.kompas.com</u> <br>
                    <u>https://www.who.int/emergencies/</u><br>
                    <u>https://www.klikdokter.com/ </u>
                </p>
            </div>
        </div>
    </div>
    
    <div class="attempt">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-md-12 text-center">
                <button id="Start" type="button" class="btn btn-lg"><a href="{% url 'quiz:quiz' %}">Attempt Quiz Now</a></button>          
            </div>
        </div>
    </div>
    
</section>

{% endblock main %}
