{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/polling/style.css' %}" />
{% endblock css %} {% block main %}

    <div class="container mx-auto">
		<div class="row justify-content-center text-left jumbotron">
			<div class="col-lg-12 align-self-end">
				<h1><strong>POLL:<br>Bagaimana<br>dengan Anda?</strong></h1>
                <a href="{% url 'polling:listpoll' %}" class="btn btn-primary btn-lg btn-block">Let's poll</a>
			</div>
			
		</div>
	</div>

{% endblock main %}