{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/polling/style.css' %}" />
{% endblock css %} {% block main %}

<div class="container m-5 p-5 mx-auto">
    <h1 class="text-center font-weight-bold"><strong>POLL!</strong></h1>
    <div class="card">
        <div class="card-header">
            <h4>Apa yang paling sering kamu lakukan selama #diRumahAja?</h4>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="card-body two-col">
                
                    {% for radio in form.activity %}
                        <div class="col-md-6">
                            <div class="card-body">
                                <div>
                                    {{ radio }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
            </div>
                
        
            <div class="card-footer">
                <button class="btn btn-primary" type="Submit">Vote</button>
                <a href="{% url 'polling:result' %}" class="btn btn-primary" >
                    View Result</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}