{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/polling/style.css' %}" />
{% endblock css %} {% block main %}

<div class="container m-5 p-5 mx-auto">
    <h1 class="text-center"><strong>Survey membuktikan...</strong></h1><br>

    <!-- Progress bar -->
    <h4>Olahraga</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option1 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option1 }}</div>
    </div><br>
    <h4>Baca Buku</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option2 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option2 }}</div>
    </div><br>
    <h4>Binge Watching</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option3 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option3 }}</div>
    </div><br>
    <h4>Sibuk Kuliah</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option4 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option4 }}</div>
    </div><br>

    <div class="text-right">  
        <a href="{% url 'polling:index' %}" class="btn btn-primary">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
          </svg>
        </a>
    </div>  
</div>
    
{% endblock main %}