{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forum/style.css' %}" />
{% endblock %}

{% block title %}Forum Sharing{% endblock %}

{% block main %}
<section>
<div class="container">
    <div class="forum-title">
    <h1 class="font-weight-bold">Bagikan pikiran Anda seputar Covid-19 di sini.</h1>
    </div>

    <div class="forms">
        <form action="{% url 'forum' %}" method="POST">
            {% csrf_token %}   
            {% for field in form %}
            <div class="form-group">{{field.label}} {{field}}</div>
            {% endfor %}
        <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>     
    
</div>
</section>

<section>
<div class="container">
    <div class="row">
        {% if jumlah != 0 %}
        <div class="column">
        {% for item in post %}
            {% if forloop.counter|divisibleby:2 == 0 %}
                <div class="card bg-post">
                    <span class="card-title"><h4>{{ item.nama }}</h4></span>
                    <div class="card-content">{{ item.pesan }}</div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="column">
        {% for item in post %}
            {% if forloop.counter|divisibleby:2 == 1 %}
                <div class="card bg-post">
                    <span class="card-title"><h4>{{ item.nama }}</h4></span>
                    <div class="card-content">{{ item.pesan }}</div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</section>
{% endblock %}