section {
    padding-top: 100px;
}

.content-section {
    padding: 10px 20px;
    border: 1px solid #B7FFC2;
    margin-bottom: 20px;
    border-radius: 12.5px;
    box-shadow: 10px 10px 20px #d9d9d9,
        -10px -10px 20px #ffffff;
}

.title {
    color: #444444;
    font-weight: 500;
}

a.title:hover,
a.title:active {
    color: #B7FFC2;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #b7ffc27e
}

.article-category {
    color: #444444;
    font-weight: 600;
    text-align: justify;
}

a.article-category:hover,
a.article-category:active {
    color: #B7FFC2;
    text-decoration: none;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: #5AB79B;
    border-color: #5AB79B;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #e6e6e6,
        -10px -10px 20px #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #448874;
    border-color: #448874;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #448874;
    border-color: #448874;
}

.btn-outline-primary {
    color: #5AB79B;
    border-color: #5AB79B;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    background-color: #448874;
    border-color: #448874;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #448874;
    border-color: #448874;
}

.pagination a {
    color: #5AB79B;
}

.pagination a:hover,
.pagination a:focus {
    background-color: #5AB79B;
    color: #ffffff;
}

.page-item.active .page-link {
    background-color: #5AB79B;
    border-color: #5AB79B;
    color: #ffffff;
}

#searchBar {
    border-color: #B7FFC2;
}

a#searchLup {
    color: #B7FFC2;
    cursor: pointer;
}

a#searchLup:hover,
a#searchLup:focus {
    text-decoration: none;
    color: #5AB79B;
}

a {
    cursor: pointer;
}

/* end */