{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container">
		<h1 class="font-weight-bold mb-3">{{title}}</h1>
		{% for artikel in list_artikel %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<span class="mr-2">{{artikel.author}}</span>
					<small class="text-muted"
						>{{artikel.date_posted|date:"F d, Y"}}</small
					>
				</div>
				<h2 class="title">
					<a class="title" href="{% url 'artikel:detail' artikel.slug %}"
						>{{artikel.title}}</a
					>
				</h2>
				<p class="article-content">{{artikel.content|truncatechars:350}}</p>
			</div>
		</article>
		{% endfor %}
		{% if list_artikel.has_other_pages %}
		<ul class="pagination">
			{% if list_artikel.has_previous %}
				<li class="page-item">
					<a class="page-link" tabindex="-1" href="?page={{ list_artikel.previous_page_number }}">&laquo;</a>
				</li>
			{% endif %} 
			{% for i in list_artikel.paginator.page_range %} 
				{% if list_artikel.number == i %}
					<li class="page-item active">
						<a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
					</li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %} 
			{% endfor %} 
			{% if list_artikel.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ list_artikel.next_page_number }}">&raquo;</a></li>
			{% endif %}
		</ul>
		{% endif %}
	</div>
</section>

{% endblock main %}
