{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container">
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<span class="mr-2">{{artikel.author}}</span>
					<small class="text-muted"
						>{{artikel.date_posted|date:"F d, Y"}}</small
					>
				</div>
				<h2 class="title mb-4">{{artikel.title}}</h2>
				<p class="article-content">{{artikel.content}}</p>
				<a
					class="article-category"
					href="{% url 'artikel:category' artikel.category %}"
					>({{artikel.category}})</a
				>
			</div>
		</article>
	</div>
</section>

{% endblock main %}
