{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container">
		<h1 class="font-weight-bold">{{title}}</h1>
		<div class="forms">
			<form method="POST">
				{% csrf_token %} {% for form in artikel_form %}
				<div class="form-group">{{form.label}} {{form}}</div>
				{% endfor %}
				<button class="btn btn-primary" type="submit">Tambahkan</button>
			</form>
		</div>
	</div>
</section>

{% endblock main %}
