{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %}

{% block main %}

<section>
	<div class="container mt-2">
        <div class="row d-flex mb-2">
            <div class="col-4 mr-auto p-2">
                <h1 class="font-weight-bold mb-3">{{title}}</h1>
            </div>
            <input name="search" type="text" class="form-control rounded-pill col-4 p-2" id="searchBar" placeholder="Cari berita...">
            <a id="searchLup" class="fas fa-search p-2"></a>
        </div>
        <div id="berita">

        </div>
	</div>
</section>

{% endblock main %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    {% if title == 'Artikel' %}
        <script src="{% static 'js/artikel/index.js' %}"></script>
    {% else %}
    	<script>
            let q = "{{q}}";
	    </script>
        <script src="{% static 'js/artikel/search.js' %}"></script>
    {% endif %}
{% endblock script %}
