body {
    font-family: 'Montserrat', sans-serif;    
    background-color: rgb(255, 255, 255);

}

/* WELCOME */

center {
    width: 15%;
    height: 5%;
    background-color: rgb(243, 234, 234);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#Start {
    border-radius: 15px;
    background-color: #B7FFC2; 
    border: 3px solid #1c5f4b;
    font-weight: bold;
    color: #1c5f4b;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
}

#Start a {
    color: black;
}

.text h3 {
    text-align: center;
    color: #B7FFC2;
    font-weight: bolder;
    text-shadow: -1px 0 rgb(50, 17, 172), 0 1px rgb(50, 17, 172), 0 -1px  rgb(50, 17, 172);
}

#textnya {
    border: 3px solid #B7FFC2;
    background-color: #F9FBDD;
    border-style: dashed;
    border-radius: 10pt;
    box-shadow:  10px 10px 20px #d9d9d9, 
    -10px -10px 20px #ffffff;
}

.text img {
    margin-bottom: 2vw;
}

/* QUIZ */

#kuisnya {
    color: #4c7e54;
    border-radius: 15px;
    border-radius: 10pt;
    background-color: #ffffff;
    font-weight: 500;
    border: 1px solid #B7FFC2;
    border-radius: 12.5px;
    box-shadow:  10px 10px 20px #d9d9d9, 
                 -10px -10px 20px #ffffff;
}

#kuisnya h6 {
    font-size: medium;
    color: #8cd498;
    font-weight: 600;
    text-align: center;
}

#kuisnya h3{
    color: #4c7e54;
    font-weight: 600;
    font-size: larger;
}

.btn {
    background-color: #B7FFC2;
    color: #4c7e54;
}

.kuis h4 {
    color: #1c5f4b;
}



/* RESULT */

.result p {
    color: rgb(255, 121, 154);
}

.result h3 {
    font-weight: bold;
    color: #B7FFC2;
    text-shadow: -1px 0 rgb(9, 82, 143), 0 1px rgb(62, 60, 167), 1px 0 rgb(62, 60, 167), 0 -1px  rgb(62, 60, 167);
}
.table td, th{
    color:  rgb(255, 121, 154);
    background-color: #B7FFC2;
}

.table td {
    font-weight: 500;
}

.table {
    text-align: center;
    box-shadow: 10px 10px 20px #d9d9d9, 
    -10px -10px 20px #ffffff;
}

/* SHOW */
.show h2 {
    color: rgb(255, 223, 144);
    font-weight: 800;
    text-shadow: -1px 0 rgb(9, 82, 143), 0 1px rgb(62, 60, 167), 1px 0 rgb(62, 60, 167), 0 -1px  rgb(62, 60, 167);
}

.card {
    border: 1px solid #1c5f4b;
    box-shadow:  10px 10px 20px #d9d9d9, 
         -10px -10px 20px #ffffff;
}

.card-header {
    background-color: #F9FBDD;
    color: cadetblue;
}

.card-body {
    color: #1c5f4b; ;
}


/* RESPONSIVE */
@media (max-width: 1500px){
    .welcom img {
        margin: 20px;
    }
}

@media (max-width: 500px) {
    .welcom img{
        display: inline;
        width: 40px;
        margin:5px;
    }

    #textnya {
        margin: 3vw;
    }

    .kuis img {
        width: 40px;
    }

    #kuisnya h3, label{
        font-size: large;
    }

    .show h4,h5 {
        font-size: medium;
    }
}