html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
}

.navbar-custom {
	background-color: #B7FFC2;
}

.navbar-custom .navbar-brand {
	color: #444444;
}

.navbar-custom .navbar-nav .nav-link {
	color: #444444;
}

.navbar-custom .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler {
	border-color: rgb(255, 255, 255);
}

a.navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.navbar-nav > .nav-item > a.nav-link:hover{
    color: rgb(255, 255, 255);
}

#home {
	height: 100vh;
}

h1.home-title {
	color: #5AB79B;
	font-size: 6vh;
}

div.home-nav {
	margin-bottom: 15vh;
}

div.home-nav > span {
	padding-right: 3.5vh;
}

div.home-nav > span > a {
	font-size: 2.5vh;
	color: #1B6952;
	text-decoration: none;
}

div.home-nav > span > a:hover {
	color: #37c59a;
}