{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Bootstrap CSS -->
			{% include "snippets/bootstrap-css.html" %}

		

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'css/homepage/style.css' %}" />

		<!-- Block App CSS -->
		{% block css %} {% endblock css %}
		{% block meta %} {% endblock meta %}
		<title>TK D06 | {{title}}</title>
	</head>

	<body>
		{% if title != 'Home' %}
		<!-- Navbar -->
		{% include "navbar.html" %} {% endif %}

		<!-- Block Main-->
		{% block main %} {% endblock main %}

		<!-- jQuery, Popper.js, Bootstrap JS -->
		{% include "snippets/bootstrap-js.html" %}

		{% block script %} {% endblock script %}
		<script
			src="https://kit.fontawesome.com/0ebbe9be0f.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
