<nav class="navbar navbar-expand-lg navbar-expand-lg fixed-top navbar-custom">
	<div class="container">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'artikel:index' %}">Artikel</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/forum">Forum</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chitchat">Chit-chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'quiz:welcom' %}">Quiz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'polling:index' %}">Poll</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
